@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    color: black;
    font-family:"Merienda", Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
}

body.modal-open {
    overflow: hidden;
}


strong {
    font-weight: 800;
}

header {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: #2f2d2f;
    padding: 30px 0;
    justify-content: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 2px 2px black;
    z-index: 10;
}

header .navlinks {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

header .navlinks a {
    color: white;
}

header .logo {
    font-size: 25px;
    font-weight: 600;
}


main {
    background-image: url(assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main .container {
    margin: 0 7%;
    background-color: white;
    padding: 50px;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 5px 3px black;
}

main .container p {
    margin: 15px 0;
}

main .container img {
    text-align: center;
    max-width: 300px;
    padding: 30px 0;
}

.banderole {
    display: flex;
    background-color: orange;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 50px;
    text-align: center;
    border-radius: 5px;
}

main .container p {
    text-align: center;
}

main .container .divider {
    width: 100%;
    height: 3px;
    background-color: #2f2d2f;
    margin: 35px 0;
    border-radius: 50px;
}

main .container .carte {
    width: 100%;
}

main .container .carte .box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border-radius: 15px;
    padding: 20px 50px;
    gap: 15px;
}

main .container .red {
    background-color:rgb(255, 183, 176);
}

main .container .beige {
    background-color: antiquewhite;
}

main .container .blue {
    background-color: rgb(215, 245, 250);
}

main .container .carte .box1 .box2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .container .carte .box1 h3 {
    text-decoration: underline;
}

main .container .carte .box1 .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: auto;
}

.carte .type {
    border-bottom: 1px solid #555555;
}

.blue .box2 h4 {
    padding: 10px;
    border-bottom: 1px solid #555555;
}

main .container .carte .box1 .type strong, main .container .carte .box1 .type p {
    text-decoration: underline;
}

main .container .carte .box1 .line .ingredients {
    flex-basis: 60%;
    flex-grow: 1;
    padding-left: 10px;
    text-align: left;
}

.price1, .price2 {
    display: flex;
    width: 100px;
    justify-content: right;
}

main .container .carte .box1 .box2 .line .name {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    flex-basis: 20%;
    flex-grow: 0;
    text-align: left;
}

main .container .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.iframe-container {
    position: relative;  /* Position relative pour le conteneur parent */
    width: 100%;  /* Prend toute la largeur du conteneur parent */
    padding-bottom: 56.25%;  /* Ratio d'aspect 16:9 (hauteur/largeur * 100) */
    height: 0;  /* Hauteur initiale à 0 pour le "padding-bottom hack" */
    overflow: hidden;  /* Cache le débordement */
    border-radius: 5px;  /* Arrondit les coins */
    margin: 30px 0;
}

.iframe-container iframe {
    position: absolute;  /* Absolu pour remplir le conteneur parent */
    top: 0;  /* Aligne en haut */
    left: 0;  /* Aligne à gauche */
    width: 100%;  /* Largeur totale du conteneur parent */
    height: 100%;  /* Hauteur totale du conteneur parent */
    border: 0;  /* Pas de bordure */
}



main .container .contact .tel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: fit-content;
}

main .container .contact .tel ion-icon, main .container .contact .tel p{
    font-size: 20px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 20px;
    display: none;
    cursor: pointer;
    z-index: 8;
    box-shadow: 0px 0px 5px 2px black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.topicon {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#back-to-top ion-icon {
    color: #2f2d2f;
    font-size: 30px;
}

#back-to-top:hover {
    background-color: #a5a5a5;
    transition: all .2s;
}



@media (max-width: 1300px) {
    main {
        background: none;
    }
    main .container {
        margin: 0;
        padding: 25px;
        padding-top: 100px;
    }
}

@media (max-width: 900px) {
    main .container .carte .box1 .line {
        justify-content: space-around;
    }

    main .container .carte .box1 .line .ingredients {
        display: none;
    }
}

@media (max-width: 550px) {
    main p {
        font-size: 14px;
    }

    .banderole {
        font-size: 16px
    }

    main .container .carte .box1 .line {
        justify-content: space-between;
    }

    main .container .carte .box1 {
        padding: 20px 20px;
    }

    header {
        padding: 20px 0;
    }

    header .navlinks {
        gap: 15px;
    }

    header .navlinks .logo {
        font-size: 20px;
    }

    header .navlinks a {
        font-size: 12px;
    }

    main .container {
        padding-top: 75px;
    }

    main .container .carte .box1 {
        margin: 20px 0;
        padding: 20px 15px;
    }
}

/* Modal full screen */
.pizza-details-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Commence transparent */
    z-index: 9;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden; /* Cache tout débordement */
    opacity: 0; /* Commence invisible */
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Transition pour opacité et fond */
}

/* État visible (modal ouvert) avec l'effet sombre */
.pizza-details-modal.show {
    background-color: rgba(0, 0, 0, 0.8); /* Assombrit progressivement */
    opacity: 1; /* Rendre l'élément visible */
}

/* État masqué (modal fermé) */
.pizza-details-modal.hide {
    background-color: rgba(0, 0, 0, 0); /* Rend le fond transparent */
    opacity: 0; /* Masque progressivement */
}


/* État du contenu en mode fermeture : hors de l'écran (en bas) */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    transform: translateY(100%); /* Par défaut, le contenu est en dehors de l'écran */
    transition: transform 0.3s ease; /* Animation pour le mouvement */
}

/* État du contenu quand le modal est ouvert : visible */
.pizza-details-modal.show .modal-content {
    transform: translateY(0); /* Faire monter le contenu dans le viewport */
}

/* Fermeture : faire descendre le contenu hors de l'écran */
.pizza-details-modal.hide .modal-content {
    transform: translateY(100%);
}



.ingre, #pizza-ingredients, .prices, #pizza-price {
    text-align: left;
}

.modal-content .high {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-content h2, .modal-content p {
    color: #333;
}


.close span {
    font-size: 40px;
    cursor: pointer;
    color: black;
}


#pizza-ingredients ul {
    list-style-type: disc; /* Liste avec puces */
    padding-left: 20px; /* Ajout d'un peu de marge pour les puces */
}

#pizza-ingredients li {
    margin: 3px 0; /* Espacement entre les éléments de la liste */
    text-align: left;
}

